body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  left: 0;
  border: none;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.8);
}

.logo2{
  padding-right: 35px;
}
.logo2 img{
  width: 70%;
}
.logo2 a:hover:after{
  width: 0;
}

/*=============== Menu ===============*/
.navbar ul{
  padding-top: 11px;
}
@media (max-width: 414px) {
  .navbar ul{
    padding-top: 0px;
  }
}

.navbar-collapse ul li:hover{
  background-color: white;
}

.navbar a {
  float: left;
  display: block;
  color: #656565;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  background-color: white;
}

.navbar a:after{
  position: absolute;
  left: 16px;
	content: '';
	height: 0px;
  background-color: #D92725;
  transition: all 0.2s ease;
  bottom: 3px;
}
.navbar a:hover{
  background-color: white;
}

#menu-item-196 a{
  color: #D92725;
  background-color: white;
}
#menu-item-196 a:after{
  width: 73%;
}
#menu-item-196 a:hover:after{
  height: 5px;
}
#menu-item-197 a{
  background-color: white;
  color: #656565;
}
#menu-item-197 a:after{
  width: 84%;
}
#menu-item-197 a:hover:after{
  height: 5px;
}
#menu-item-198 a{
  background-color: white;
  color: #656565;
}
#menu-item-198 a:after{
  width: 78%;
}
#menu-item-198 a:hover:after{
  height: 5px;
}

.navbar-toggle{
  background-color: #D92725;
  border: none;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #D92725;
}
.navbar-collapse{
  height: 145px;
  border: none;
}
@media (max-width: 414px) {
  .navbar-inverse .navbar-collapse{
    border-bottom: 2px solid #D92725;
    border-top: none;
  }
  .navbar-collapse ul li{
    display: table;
  }
}

/*=============== Menu ===============*/

/*=============== Post ===============*/
.post{
  min-height: 550px;
  -webkit-transition: all ease .6s;
  -moz-transition: all ease .6s;
  transition: all ease .6s;
}
.post:hover{
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.post a{
  color: #D92725;
}
@media (max-width: 414px) {
  .post{
    margin-bottom: 40px;
  }
}
.img-post img{
  width: 100%;
  height: 250px;
}
.foto{
  width: 100%;
  height: 250px;
  background-color: lightgray;
}
/*=============== Post ===============*/

/*=========== Hr divisão de posts ===========*/
.linha_titulo{
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 769px) {
  .linha_titulo{
    margin-left: -15px;
  }
}
.linha_titulo .hr{
  position: absolute;
  top: 18px;
  right: 15px;
  width: 69%;
  border: 1px solid #D92725;
}
.linha_titulo .hr2{
  position: absolute;
  top: 18px;
  right: 15px;
  width: 73%;
  border: 1px solid #D92725;
}
.linha_titulo h2{
  background-color: white;
  margin-left: 0;
  color: #D92725;
}
@media (max-width: 768px) {
  .linha_titulo .hr{
    top: 75px;
    width: 100%;
    right: 0px;
  }
  .linha_titulo .hr2{
    top: 75px;
    width: 100%;
    right: 0px;
  }
  .linha_titulo h2{
    margin-left: -15px;
  }
}
@media (min-width: 769px) and (max-width: 991px){
  .linha_titulo .hr{
    width: 55%;
  }
  .linha_titulo .hr2{
    width: 62%;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  .linha_titulo .hr{
    width: 65%;
  }
  .linha_titulo .hr2{
    width: 70%;
  }
}
@media (max-width: 414px) {
  .hr2{
    width: 90%;
    margin-top: 0px;
  }
}
/*=========== Hr divisão de posts ===========*/

.texto{
  padding: 15px;
  padding-top: 0;
}
.texto p{
  color: black;
  position: relative;
  left: 0;
  display: inherit;
  padding-top: 0px;
  font-size: 14px;
}

/*=========== Botão Leia Mais Post ===========*/
.botao{
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-left: -23px;
  margin-top: 20px;
  width: 45px;
  height: 45px;
  background-color: #D92725;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
}

.botao:hover{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.botao p{
  position: absolute;
  left: 50%;
  margin-left: -9px;
  color: white;
  font-size: 32px;
  top: 50%;
  margin-top: -24px;
}
/*=========== Botão Leia Mais Post ===========*/

/*=========== Banner ===========*/
.img-banner img{
  width: 70%;
  height: 450px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .img-banner img{
      width: 100%;
  }
}
.descricao-banner{
  width: 30%;
  background-color: #D92725;
  height: 450px;
  right: 0;
  padding: 45px;
  position: absolute;
  color: white;
}
@media (max-width: 599px) {
  .descricao-banner{
    width: 100%;
    background: none;
    color: black;
    padding: 25px;
    padding-top: 50px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .descricao-banner{
    width: 100%;
    background: none;
    color: black;
    padding: 25px;
    padding-top: 230px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .descricao-banner{
    width: 30%;
    background-color: #D92725;
    height: 450px;
    right: 0;
    padding: 20px;
    position: absolute;
    color: white;
  }
}
.button-banner{
  width: 100px;
  height: 50px;
  padding-left: 16px;
  padding-top: 13px;
  margin-top: 40px;
  background-color: #D92725;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
  font-size: 15px;
}
.button-banner p:hover{
  text-decoration: none;
}
.descricao-banner a:hover{
  text-decoration: none;
}

/*=========== Banner ===========*/
